{% extands "base.html" %}

{% block_content %}
<h2>Book a table</h2>

{% if messages %}
    {% for message in messages %}
        <p class= "{% if message.tags == 'error' %}red{% else %}green{% endif %};">
            {{ message }}
        </p>
    {% endfor %}
{% endif %} 

<form method="Post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book</button>
</form>

{% endblock %}

<h3>My resarvations</h3>
<ul>
    {% for booking in user.bookings.all %}
        <li>
            {{ booking.table }} - {{ booking.date_time}}
            <a href="{% url 'cancel_booking' booking.id %}" onclick="return confirm('Are you sure you want to cancel your reservation?')">Cancel</a>
        </li>
    {% endfor %}
</ul>