<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Restaurang Bokning</title>

</head>
<body>
    {% extends "bookings/base.html" %}

    {% block content %}
        <h1>Välkommen till vår restaurang!</h1>
        <p>Boka ett bord och njut av en fantastisk måltid.</p>
    {% endblock %}
</body>
</html>

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        Navigation
        <nav>
            <ul>
                <li><a href="#wome"></a></li>
                <li><a href="#menu"></a></li>
                <li><a href="#booking"></a></li>
                <li><a href="#contact"></a></li>
            </ul>
        </nav>
    </header>
22
    <section iid="welcome" class="hero">
        <div class="hero_content">
            <h1>Welcome to our restaurant</h1>
            <p>Enjoy our delicious food and drinks</p>
            <a href="#booking" class="btn">Book a table</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Nordic Taste. All rights reserved.</p>
    </footer>
    
</body>
</html> 